[buildout]

effective-user = kurt
############################################
# Test Packages
# ----------
# Specify a list of packages that you wish to include in your test suite.
# These packages will have their included tests run when you invoke
# bin/test
#
test-packages =
#    plonetheme.sunburst


############################################
# Debug Mode
# ----------
debug-mode = off
deprecation-warnings = on
verbose-security = off


############################################
# Less Commonly Changed Options
# -----------------------------
# The remainder of the buildout mainly sets up the development
# environment based on the settings above.

# we're extending buildout.cfg
extends =
    buildout.cfg

extensions +=
    mr.developer

eggs +=
    Products.DocFinderTab
    plone.reload
    Products.PDBDebugMode
    ipdb


parts +=
    test
    zopeskel
    omelette


# mr.developer settings:
always-checkout = force
sources = sources
auto-checkout = *


[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']

eggs =
    ${buildout:test-packages}
